@{
  Layout = "_Layout";
}
<div class="container">
  <div class="well row">
    <h1>Snappy Snips Hair Salon</h1>
  </div>
  <div class="well row">
    <h2>@Model.GetName()</h2>
  </div>

  <div class = "well row">
    <h4><a href="/clients/@Model.GetId()/new">ADD CLIENT</a> | <a href="/specialties/@Model.GetId()/new">ADD SPECIALTY</a> | <a href="/deleteAllClients/@Model.GetId()">DELETE ALL CLIENTS</a> | <a href="/">BACK</a></h4>
  </div>

  <div class="well">
    <div class="row">
      <div class="col-lg-6">
        <h3>SPECIALTY</h3>
      </div>
      <div class="col-lg-4">
        <h3>ACTION</h3>
      </div>
    </div>

    <div class="row">
      @if(@Model.GetSpecialties().Count > 0)
      {
        Console.WriteLine("There are " + @Model.GetSpecialties().Count + " specialties according to Stylist.GetSpecialties().");
          @foreach (var specialty in @Model.GetSpecialties())
          {
            <div class="col-lg-6">
              <h4><a href="/specialties/@Model.GetId()/SpecialtyDetails">@specialty.GetName()</a></h4>
            </div>
            <div class="col-lg-4">
              <h4><a href="/specialties/@Model.GetId()/update">EDIT</a> | <a href="/specialties/@Model.GetId()/delete">DELETE</a></h4>
            </div>
          }
      }
      else
      {
        <h4>@Model.GetName() has no specialties right now.</h4>
      }
    </div>
  </div>

  <div class="well">
    <div class="row">
      <div class="col-lg-6">
        <h3>CLIENT</h3>
      </div>
      <div class="col-lg-4">
        <h3>ACTION</h3>
      </div>
    </div>

    <div class="row">
      @if(@Model.GetClients().Count > 0)
      {
          @foreach (var client in @Model.GetClients())
          {
            <div class="col-lg-6">
              <h4><a href="/clients/@client.GetId()/ClientDetails">@client.GetName()</a></h4>
            </div>
            <div class="col-lg-4">
              <h4><a href="/clients/@client.GetId()/update">EDIT</a> | <a href="/clients/@client.GetId()/delete">DELETE</a></h4>
            </div>
          }
      }
      else
      {
        <h4>@Model.GetName() has no clients right now.</h4>
      }
    </div>
  </div>
</div>
