@{
  Layout = "_Layout";
}
<div class="container">
  <div class="well row">
    <h1>Snappy Snips Hair Salon</h1>
  </div>
  <div class="well row">
    <h2>Specialty: <strong>@Model.GetName()</strong></h2>
  </div>
  <div class = "well row">
    <h4><a href="/specialties/viewAll">BACK</a> | <a href="/stylist/@Model.GetId()/new/specialty">ADD STYLIST</a></h4>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-lg-6">
        <h3>STYLISTS WITH SPECIALTY</h3>
      </div>
      <div class="col-lg-4">
        <h3></h3>
      </div>
    </div>
    <div class="row">
      @if(@Model.GetStylistsWithSpecialty().Count > 0)
      {
          @foreach (var specialty in @Model.GetStylistsWithSpecialty())
          {
              <div class="col-lg-6">
                <h4>@specialty.GetName()</h4>
              </div>
              <div class="col-lg-4">
              </div>
          }
      }
      else
      {
          <h4>No stylists have specialty @Model.GetName() right now.</h4>
      }
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-lg-6">
        <h3>CLIENTS WITH SPECIALTY</h3>
      </div>
      <div class="col-lg-4">
        <h3></h3>
      </div>
    </div>
    <div class="row">
      @if(@Model.GetClientsWithSpecialty().Count > 0)
      {
          @foreach (var client in @Model.GetClientsWithSpecialty())
          {
            <div class="col-lg-6">
              <h4>@client.GetName()</h4>
            </div>
            <div class="col-lg-4">

            </div>
          }
      }
      else
      {
        <h4>No clients have specialty @Model.GetName() right now.</h4>
      }
    </div>
  </div>
</div>
